{%extends 'base.html'%}
{% load static%}
{% block content %}
{{block.super}}

<style>
  * {
    max-width: 100%;
    max-height: 100%;
  }

  .hovereffect {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
  }

  .hovereffect .overlay {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 12%;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
  }

  div.col-xs-6.col-sm-6.col-md-4.col-lg-3 {
    padding: 5px;
    padding-bottom: 2px;
  }

  .hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    margin-bottom: 7px;
  }

  .hovereffect:hover img {
    filter: brightness(0.4);
    -webkit-filter: brightness(0.4);
    -moz-filter: brightness(0.4);
    -o-filter: brightness(0.4);
    -ms-filter: brightness(0.4);
  }

  .hovereffect h4 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 15px;
    background-color: transparent;
    font-weight: bolder;
    color: #ffffff;
    margin-top: 0.5em;
    padding: 1em 2em;
    opacity: 0;
    filter: alpha(opacity=0);

    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  .hovereffect .btn {
    background-color: #FFF;
    font-weight: bolder;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    width: 100%;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  .hovereffect:hover p,
  .hovereffect:hover h4 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .fab {
    transform: scale(1.7, 1.8);
  }

  a {
    text-decoration: none;
    color: black;
  }

  .view {
    min-height: 100%;
    background: linear-gradient(rgba(1, 9, 26, 0.5), rgba(1, 9, 26, 0.5)), url('https://i.postimg.cc/9XS5BHNk/aka.png');
    background-size: cover;
    animation: slide 20s infinite;
    animation-delay: 10s;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    overflow: hidden;
  }

  @keyframes slide {

    30% {
      background-image: linear-gradient(rgba(1, 9, 26, 0.5), rgba(1, 9, 26, 0.5)), url("https://i.postimg.cc/6pr7C0z8/youare.png");
      animation-delay: 5s;
      animation: slide 15s infinite;
    }

    50% {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.postimg.cc/2ynqT7m9/focus.png");
    }


    100% {
      background-image: linear-gradient(rgba(1, 9, 26, 0.5), rgba(1, 9, 26, 0.5)), url("https://i.postimg.cc/Bv1JxQJM/bigg.png");
    }

    /* 20%{
    background-image: linear-gradient(rgba(1, 9, 26, 0.5), rgba(1, 9, 26, 0.5)),url("https://i.postimg.cc/Prcc1bNn/bibiriy.png");

} */
    /* 75%{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.postimg.cc/1X8BzTGn/lift.png");

} */
    /* 25%{
    background-image:linear-gradient(rgba(1, 9, 26, 0.5), rgba(1, 9, 26, 0.5)), url("https://i.postimg.cc/Vsh4hfwj/saraba.png");
} */


  }


  #theCards {
    /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%); */
    width: 100%;
    display: flex;
  }

  .media {
    background-position: center;
    background-size: cover;
    height: 100%;
    position: absolute;
    transition: all 0.3s ease;
    width: 100%;
  }

  figure {
    height: 370px;
    overflow: hidden;
    position: relative;
  }

  figure a {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
  }

  .learned a {
    position: relative;
    margin-left: 18px;
  }

  figure:hover .media {
    transform: scale(1.25);
  }

  figcaption {
    color: #474787;
    height: calc(100% - 30px);
    margin: 15px;
    left: 0;
    position: absolute;
    top: 0;
    width: 250px;
  }

  .body {
    background-color: white;
    bottom: 0;
    padding: 15px;
    position: absolute;
    width: 100%;
  }

  svg {
    height: inherit;
    width: 100%;
  }

  svg text {
    text-anchor: middle;
  }

  svg #alpha {
    fill: white;
  }

  svg .title {
    font-size: 28px;
    font-family: "Montserrat";
    letter-spacing: 5px;
  }

  svg #base {
    fill: white;
    -webkit-mask: url(#mask);
    mask: url(#mask);
  }

  svg #base2 {
    fill: white;
    -webkit-mask: url(#mask2);
    mask: url(#mask2);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    max-width: 1170px;
    margin: auto;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  ul {
    list-style: none;
  }

  .footer {
    background-color: #474787;
    padding: 20px 0;
  }

  .footer-col {
    width: 25%;
    padding: 0 15px;
  }

  .footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }

  .footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #474787;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }

  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }

  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
    display: block;
    transition: all 0.3s ease;
  }

  .footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
  }

  .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }

  .footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
  }

  /*responsive*/
  @media(max-width: 767px) {
    .footer-col {
      width: 50%;
      margin-bottom: 30px;
    }
  }

  @media(max-width: 574px) {
    .footer-col {
      width: 100%;
    }
  }

  .bottom {
    align-items: bottom;
    margin-top: 20px;
    margin-bottom: -10px;

  }

  .bottom center a {
    color: #ffffff;
    text-decoration: none;

  }

  .bottom center a:hover {
    text-decoration: underline;
  }

  .bottom center span {
    color: #fff;
  }
  .scroll-top {
  width: 5%;
  height: 10%;
  position:fixed;
  bottom: 5px;
  left: 95%;
  background-color: #fff;
  border: 1px solid #0b6ab8;
  
  
  
  display: none;
}
.scroll-top:hover{
  background-color: #fff;
}
.scroll-top i {
  display: inline-block;
  color: #474787 ;
  
}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
  <script>
    AOS.init({
      duration: 1000,
      offset: 120,
      easing: 'ease-in-out'
    })
    $(document).ready(function () {
  $(window).scroll(function () {
    if ($(this).scrollTop() > 100) {
      $('.scroll-top').fadeIn();
    } else {
      $('.scroll-top').fadeOut();
    }
  });

  $('.scroll-top').click(function () {
    $("html, body").animate({
      scrollTop: 0
    }, 100);
      return false;
  });

});

  </script>

<div class="view container-fluid">
  <div class="header" style="height: 100vh; font-family: 'Vollkorn', serif;">
    <div class="container" style="color:white;">
      <div class="row" style="padding-top:50px;">
        <!--<div class="col-md-4" style="font-size: 20px;">
                  <strong>P</strong>
              </div>-->
        <div class="col-md-4"></div>

      </div>
      <div style="text-align:center; font-size: 70px; padding-top:15%; letter-spacing: 1px;" data-aos="fade-up" data-aos-duration="5000" data-aos-delay="800">
        <p style="font-family: 'Carter One', cursive; color:white; font-size: 70%;" class="blog" data-aos="zoom-in-up">Welcome To
            Calvary Ministries</p>
      </div>
      <div style="text-align:center; font-size: 20px;">
        <button data-aos="fade-up" style=" border-radius: 5em; border:none; padding: 10px; background-color:#474787;"><a
            style="color: white; font-weight:bold;text-decoration:none;" href="{% url 'sermons' %}">View
            Sermons</a></button>
      </div>
      <div style="height:230px;">

      </div>
    </div>
  </div>
</div>
<div class="venue-gray-bg"></div>
<div class="jumbotron " style="max-width: 100%;">
  <div class="row">
    <div  class="col-md-6" style="inline-size: 0 0 50%; position: relative; width: 100%;">
      <img class="img-fluid main-venue-image"
        src="https://i.postimg.cc/jdZP0vG9/imana.jpg" data-aos="zoom-in" data-aos-duration="7000" data-aos-delay="500" style="height: auto; width: 100%;">
      <div class="gray-box position-relative md-main-venue-content" style="margin-top: -5%;" data-aos="fade-left" data-aos-duration="15000" data-aos-delay="500">
        <h4 class="inside-boxes d-inline-block terracota-box venue-name" style="letter-spacing: 2px;
      padding: 10px 16px;
      text-transform: uppercase;background-color:#474787;
      color: #fff;margin-top: -1.375em;
      margin-right: 1em;">Onsite Services</h4>
        <div class="venue-description" style="white-space: pre-wrap;
      padding: 2em 2.25em 2.325em 2.25em;
      font-size: 1.1em;
      max-width: 100%;
      box-sizing: border-box;background-color:#474787; color: white;
      margin-top: -5%;
      text-align: justify;
      "> Sundays
          Main Service
          9:00, 10:20, and 11:40am in main sanctuary 
          and outside on the patio
          9:00am in small church

          <a href="" class="btn"
            style="background-color:#474787 ; color: white; border-radius: 30px; border: 1px solid #ffffff;">Get
            Directions</a>
        </div>
      </div>

    </div>
    <div class="col-md-6" style="margin-top: -6.7%; max-width: 100%;" data-aos="fade-left" data-aos-duration="9000" data-aos-delay="900">
      <div style="height:40px;">
        <!--padding to make up for removal of weekend services -->
      </div>
      <!-- <div class="text-center" style="display:none;">
        <h3 class="inside-boxes text-center mt-5 d-none d-md-inline-block gray-box">WEEKEND
          SERVICES</h3>
      </div> -->
      <img class="img-fluid mt-5 md-secondary-venue-image" src="https://i.postimg.cc/qvFKgqBx/singsme.jpg"
        style="height: auto; width: 100%; ">
      <div class="gray-box position-relative md-secondary-venue-content" style="margin-top: -14%; ">
        <h4 class="inside-boxes d-inline-block terracota-box venue-name" style="letter-spacing: 2px;
      padding: 10px 16px;
      text-transform: uppercase;background-color:#474787;
          color: #fff;margin-top: 1.375em;
            /* margin-left: 1em; */
          margin-right: 1em;">Online Services</h4>

        <div class="venue-description"
        style="white-space: pre-wrap;
        padding: 2em 2.25em 2.325em 2.25em;
        font-size: 1.1em;
        max-width: 100%;
        box-sizing: border-box;background-color:#474787; color: white;
        margin-top: -5%;
        text-align: justify;
        "
      >
          Sundays
          9:00, 10:20, and 11:40am
          Join us live during any of our weekend services.
          Watch last week live
          4:00pm on our Parish

          <a href="" class="btn"
            style="background-color:#474787 ; color: white; border-radius: 30px; border: 1px solid #ffffff;">Watch
            Live</a>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="jumbotron"
  style="background-image: url('https://i.postimg.cc/8cWLSBnv/grey-removebg-preview.png'); background-repeat: no-repeat; background-size: cover; width: 100%; height: 100%; margin-top: -5%; max-width: 100%; min-width: 100%;">
  <h1 style="text-align: center; color:#474787;">Sunday School</h1>
  <div class="container" style="margin-top: 50px;">
    <div class="row">
      <div class="col-md-6">
        <img src="https://i.postimg.cc/d0Dr5YvD/forkids.png" data-aos="zoom-in-right" data-aos-duration="500" data-aos-delay="800">

      </div>
      <div class="col-md-6" data-aos="fade-left" data-aos-duration="5000" data-aos-delay="1000" style="margin-top: 3%;">
        <p style=" font-size: 1.0em;">Sunday School is the best time meet up with kids and we get to share with them
          word of God.
          Kids get enought time to learn how to priotilize the word of God in their lives as they grow up
          with discipline and respect they got from Sunday School.
        </p>
        <p>This smartChurch really made it easily for kids to be able to receive word of God anywhere they are
          as we provide them different sermons that really strengthen them in their life with God. They also get
          to learn different versuses from bible and watch video that really explain important of God in their life
        </p>
        <div
          style="text-decoration: none; background-color:#474787; color: white; border-radius: 20px; width: 20%; padding: 2%;">
          <a href="{% url 'sundaySchool' %}" style="color: white;">Learn More</a>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="jumbotron">
  <div class="container-fluid" id="theCards">
    <div data-aos="fade-right" data-aos-duration="5000" data-aos-delay="1200" class="col-lg-6 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12">
      <figure>
        <div class="media" style="background-image: url(https://i.postimg.cc/2ynqT7m9/focus.png)"></div>
        <figcaption>
          <svg viewBox="0 0 200 200" version="1.1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
            <defs>
              <mask id="mask" x="0" y="0" width="100%" height="100%">
                <rect id="alpha" x="0" y="0" width="100%" height="100%"></rect>
                <text class="title" dx="50%" dy="2.5em">ABOUT</text>
                <text class="title" dx="50%" dy="3.5em">THE</text>
                <text class="title" dx="50%" dy="4.5em">BAPTISM</text>
              </mask>
            </defs>
            <rect id="base" x="0" y="0" width="100%" height="100%"></rect>
          </svg>
          <div class="body" style=" font-size: 1.0em;">
            <p style="color: black;">Do you want to recieve Jesus as your savior? Don't worry at Calvary we got you
              covered !</p>


          </div>
          <div class="learned" style=" font-size: 1.0em;">
            <a href="{% url 'about' %}" style="text-decoration: none; color:#474787;">Learn more</a>
          </div>
        </figcaption><a href="#"></a>
      </figure>
    </div>
    <div class="col-lg-6" data-aos="fade-left" data-aos-duration="17000" data-aos-delay="1500">
      <figure>
        <div class="media" style="background-image: url(https://i.postimg.cc/y6PqwSdw/senga.png)"></div>
        <figcaption>
          <svg viewBox="0 0 200 200" version="1.1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
            <defs>
              <mask id="mask2" x="0" y="0" width="100%" height="100%">
                <rect id="alpha" x="0" y="0" width="100%" height="100%"></rect>
                <text class="title" dx="50%" dy="2.5em">ABOUT</text>
                <text class="title" dx="50%" dy="3.5em">THE</text>
                <text class="title" dx="50%" dy="4.5em">PRAYERS</text>
              </mask>
            </defs>
            <rect id="base2" x="0" y="0" width="100%" height="100%"></rect>
          </svg>
          <div class="body" style=" font-size: 1.0em;">
            <p style="color: black;">At Calivary we do have several types of Prayers. do you want to join us?</p>
          </div>
          <div class="learned" style=" font-size: 1.0em;">
            <a href="{% url 'about' %}" style="text-decoration: none; color:#474787;">Learn more</a>
          </div>
        </figcaption><a href="{% url 'about' %}"></a>
      </figure>
    </div>
  </div>
</div>
<!-- <div id="trt">
  <p
    style='height:20vh;padding-top:9vh;font-family:  "Carter One", cursive;text-align: center; font-size: 130%; color: #e67e22;'>
    <strong>Click On Sermon to Rate it!</strong>
  </p>
  <div class='row'>
    {% for project in projects %}
    <div class="col-md-3 col-lg-3">
      <div class=card>
        <div class="portfolio-wrap ">
          <div class="portfolio-wrap hovereffect">
            <a class="img-overlay card-img-top" style="width:100%" href='/project/{{project.id}}'>
              <img src="{{project.image.url}}" width='100%' height='180px' href="" class="post" alt="post">
              <div class="overlay">
                <h4><a href='/project/{{project.id}}' class='btn bg-success'
                    style='color:white; font-size: 10px; border-radius:15px;'> Rate {{project.title}}. </a></h4>
              </div </a>
          </div>
          <div class='card-body'>
            <p><a href='{{project.link}}'><b>{{project.title}}</b></a></p>
            <small style='display:block; display:flex;justify-content: space-between;'>
              <p>From {{project.country}}</p><span class='text-right'
                style='display:block;'>{{project.date_posted|date:"d-F Y"}}</span>
            </small>
            <hr>
            <div style='font-size:0.7em;'><img src='{{project.user.profile.profile_picture.url}}' width='18px'
                height='18px' style='border-radius:50%;'> &nbsp;<a href="/profile/{{project.user.profile.id}}"
                style='text-decoration: none;'>{{project.user|upper}}</a></div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div> -->
<div class="jumbtron">
  <div id="mainverse_container" style="margin-left: 20%; margin-top: -3%; margin-right: 20%; text-align: center;" data-aos="zoom-in" data-aos-duration="7000" data-aos-delay="1800">
    <div id="mainverse">
      <p id="verse"></p>
      <span id="verse_reference"></span>
    </div>
  </div>
  <script>
    // Ajax Call to the api
    let url = 'https://beta.ourmanna.com/api/v1/get/?format=json&order=random';
    let text = document.querySelector("#mainverse_container #mainverse #verse");
    let reference = document.querySelector("#mainverse_container #mainverse #verse_reference");

    let xhr = new XMLHttpRequest();
    xhr.open("GET", url, true);
    xhr.onreadystatechange = function () {
      if (xhr.readyState == 4 && xhr.status == 200) {
        document.querySelector("#mainverse_container").style.display = "block"
        let result = xhr.responseText;
        let json = JSON.parse(result);
        text.innerHTML = json.verse.details["text"];
        reference.innerHTML = json.verse.details["reference"];
      }
    }
    xhr.send()

  </script>
  <div class="Container" id="myverses" style="margin-left: 5%; margin-right: 5%; text-align: justify;">
    <div class="row">
      <div class="col-md-4">
        <p id="verse">
          <!-- "And let us consider how we may spur one another on toward love and good deeds, not giving up meeting
            together, as some are in the habit of doing,
            but encouraging one another—and all the more as you
            see." -->
          </p>
            <span id="verse_reference"></span>

      </div>
      <div class="col-md-4">
        <p id="verse">
      <span id="verse_reference"></span>

        <!-- <p><i>"For just as each of us has one body with many members,
            and these members do not all have the same function, so in Christ we, though many,
            form one body, and each member belongs to all the others.</i></p>
        <p><i>Romans 12:4-5"</i></p> -->

      </div>
      <div class="col-md-4">
        <p id="verse">
        <span id="verse_reference"></span></i>
        <!-- <p><i>"All Scripture is God-breathed and is useful for teaching,
            rebuking, correcting and training in righteousness, so that the servant of God may be
            thoroughly equipped for every good work."</i></p>
        <p><i>2Timothy 3:16-17</i></p> -->

      </div>
    </div>
  </div>

</div>
<button class="btn btn-primary scroll-top" data-scroll="up" type="button">
  <i class="fa fa-chevron-up"></i>
  </button>
<!-- <script src="https://cndjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script>
  AOS.init({
    duration:1000,
    offset:120,
    easing:'ease-in-out'
  })
</script> -->
{% include 'footer.html' %} 

<!-- <footer class="footer"> -->
  <!-- <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>church</h4>
        <ul>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'bookwedding' %}">Services</a></li>
          <li><a href="{% url 'sermons' %}">Sermons</a></li>

        </ul>
      </div>
      <div class="footer-col">
        <h4>Get Connected</h4>
        <ul>
          <li><a href="#">Watsapp group</a></li>
          <li><a href="#">Prayers group</a></li>
          <li><a href="#">Choir Group</a></li>
          <li><a href="#">Worship group</a></li>

        </ul>
      </div>
      <div class="footer-col">
        <h4>Calvary Ministries</h4>
        <ul>
          <li><a href="{% url 'watch' %}">watch</a></li>
          <li><a href="{% url 'give' %}">Give</a></li>
          <li><a href="#">Baptism</a></li>
          <li><a href="{% url 'bookwedding' %}">Weddings</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <h4 style="margin-top: 10px;">Contact Us</h4>
          <div class="content">
            <form action="" method="POST">
              {% csrf_token %}
              <div class="email">
                <div class="text" style="color: white;">Email *</div>
                <input type="email" name="email" required>
              </div>
              <div class="msg">
                <div class="text" style="color: white;">Message *</div>
                <textarea rows="2" cols="25" name="message" required></textarea>
              </div>
              <div class="btn">
                <button type="submit" value="Submit" style="background-color:#474787; color: white;">Send</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <center>
      <span class="credit">Created By <a href="{% url 'index' %}" style="color: #ffffff;">Calvary Ministries</a> |
      </span>
      <span class="far fa-copyright"></span><span> 2020 All rights reserved.</span>
    </center>
  </div> -->
<!-- </footer> -->


{%endblock%}